header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 54px;
    background-color: white;
    border-bottom: black;
    align-items: center;
    right: 50%;
  }
  .cabecalho {
    display: flex;
    justify-content: space-between;
    width: 907px;
    align-items: center;
    height: 54px;
    left: 0px;
    background-color: rgb(255, 255, 255, 0.8);
    border-bottom: black;
  }
  .instagram-topo {
    display: flex;
    align-items: center;
    width: calc(100% / 3);
  }
  .separador {
    width: 1px;
    height: 22px;
    background-color: black;
    margin: 0 10px;
  }
  .separador-horizontal {
    width: 100%;
    height: 1px;
    background-color: black;
  }
  .conteudo {
    display: flex;
    flex-direction: column;
  }
  h1 {
    width: 103px;
    height: 29px;
    color: black;
  }
  .semcabeca {
    height: 100%;
    background-color: #e5e5e5;
  }
  .pesquisar {
    display: flex;
    align-items: center;
  }
  .feed {
    width: 614px;
    margin-top: 24px;
  }
  .post {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 740px;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 40px;
    border: 1px solid black;
    position: relative;
  }
  .post img {
    width: 32px;
    height: 32px;
  }
  .post img {
    width: 100%;
    height: 614px;
  }
  .postador {
    display: flex;
    height: 60px;
    align-items: center;
  }
  .postador img {
    width: 32px;
    height: 32px;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
  }
  .postador h3 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
  }
  
  .topo {
    position: relative;
    display: flex;
    width: 614px;
    height: 118px;
    align-items: center;
    border: 1px solid black;
    background-color: white;
    overflow: hidden;
    justify-content: space-between;
  }
  .post-interaction {
    padding-left: 17px;
    margin: 17px 0 10px 0;
    position: relative;
  }
  .post-infos {
    display: flex;
    align-items: center;
    padding-left: 17px;
    margin-bottom: 10px;
  }
  .post-infos img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  .saved {
    right: 16px;
    top: 0;
    position: absolute;
  }
  p {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
  
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
  }
  .stories {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    align-items: center;
    width: 56px;
    height: 56px;
    margin-left: 24px;
  }
  .storie-individuo {
    position: absolute;
  }
  .stories-background {
    width: 56px;
    height: 56px;
  }
  .stories-background img {
    width: 56px;
  }
  .storie-individuo {
    width: 56px;
    height: 56px;
  }
  .storie-individuo img {
    width: 48.1px;
    height: 48.1px;
    margin: 4px;
  }
  main {
    display: flex;
    justify-content: center;
    padding-top: 34px;
  }
  .post {
    margin-top: 0;
    border-top: 0;
  }
  
  .options {
    right: 20px;
    position: absolute;
    margin-top: 30px;
    margin-bottom: 28px;
  }
  .search-container {
    position: relative;
    width: calc(100% / 3);
    height: 25px;
  }
  .pesquisar {
    position: absolute;
  }
  
  .icon {
    font-size: 21px;
    margin-left: 28px;
  }
  .opcoes {
    display: flex;
    width: calc(100% / 3);
  }
  .sidebar {
    width: 293px;
    margin-left: 30px;
    position: relative;
  }
  .sidebar p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
  
    color: #262626;
  }
  .negrito {
    font-weight: bold;
  }
  
  .topo-sidebar {
    display: flex;
    width: 293px;
  }
  .topo-sidebar-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .topo-sidebar img {
    margin-right: 17px;
    width: 50px;
    height: 50px;
  }
  .bottom-sidebar p {
    font-family: Roboto;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: left;
    color: #c7c7c7;
    margin-bottom: 20px;
  }
  .sugestoes-sidebar {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
  }
  .sugestao {
    display: flex;
    margin: 17px 0;
  }
  .sugestao img {
    margin-right: 11px;
    width: 30px;
    height: 30px;
  }
  .sugestao p {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
  }
  .sidebar h4 {
    position: absolute;
    right: 0;
    font-weight: bold;
    color: #139ef2;
  }
  footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 54px;
  }
  .home {
    display: none;
  }
  .search-icon {
    display: none;
  }
  .heart {
    display: none;
  }
  .plus-circle {
    display: none;
  }
  .person {
    display: none;
  }
  .setinha {
    position: absolute;
    right: 8px;
    color: whitesmoke;
    font-size: 25px;
  }
  
  @media (max-width: 935px) {
    .sidebar {
      display: none;
    }
  }
  @media (max-width: 614px) {
    .setinha {
      display: none;
    }
    .post {
      border: 0;
    }
    .postador {
      border-top: 1px solid black;
    }
    .semcabeca {
      width: 100%;
    }
    .topo {
      width: 100%;
      border: 0;
      background-color: #e5e5e5;
    }
    .storie-individuo {
      background-color: #e5e5e5;
    }
    .conteudo {
      width: 100%;
    }
    .feed {
      width: 100%;
      margin: 0px;
    }
    header {
      width: 100%;
    }
    main {
      width: 100%;
      padding: 0px;
    }
    .cabecalho {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    .opcoes {
      width: auto;
    }
    .icon {
      display: none;
    }
    .search-container {
      display: none;
    }
    .separador {
      display: none;
    }
    .send .icon {
      display: block;
    }
    .feed {
      width: 100%;
    }
  
    .logopng {
      margin: 20px;
    }
    .instagram-topo {
      width: 50%;
      justify-content: space-between;
    }
    footer {
      background-color: rbg(255, 255, 255, 0.8);
    }
    .home {
      display: block;
    }
    .search-icon {
      display: block;
    }
    .heart {
      display: block;
    }
    .plus-circle {
      display: block;
    }
    .person {
      display: block;
    }
  }
  